# backend/.env.example
DB_USER=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=5432
REDIS_URL=redis://redis:6379
PORT=8000
BETTER_AUTH_SECRET=
NODE_ENV=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OBS_ACCESS_KEY=
OBS_SECRET_KEY=
CLIENT_URL_PROD=
OBS_ENDPOINT=
OBS_BUCKET=
RESEND_TOKEN=
PAYFAST_PASSPHRASE=
NEXT_PUBLIC_Merchant_ID=
NEXT_PUBLIC_Merchant_Key=
BETTER_AUTH_API_KEY=